 .u-section-1 {
  background-image: linear-gradient(to right, #f2f2f2, #8e55e6);
}

.u-section-1 .u-sheet-1 {
  min-height: 440px;
}

.u-section-1 .u-image-1 {
  width: 635px;
  height: 355px;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 85px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  margin: -309px 635px 0 32px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 60px 32px;
  padding: 9px 51px 10px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    transition-duration: 3s;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -246px;
    margin-right: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-bottom: 48px;
    margin-left: 0;
    padding: 4px 32px 5px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 89px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-image-1 {
    height: 415px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    height: 259px;
    width: 311px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-right: 64px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 23px;
    padding: 3px 16px 4px 14px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 854px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  width: 718px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 12px auto 0;
}

.u-section-2 .u-list-1 {
  width: 937px;
  margin: 45px 89px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 609px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  min-height: 248px;
  background-image: url("images/15.png");
  background-position: 50% 50%;
  height: auto;
  box-shadow: 5px 0px 20px 7px rgba(4,0,56,0.4);
  margin: 6px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  min-height: 248px;
  background-image: url("images/14.png");
  height: auto;
  background-position: 50% 50%;
  box-shadow: 5px 0px 20px 7px rgba(4,0,56,0.4);
  margin: 6px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  min-height: 248px;
  background-image: url("images/12.png");
  height: auto;
  background-position: 50% 50%;
  box-shadow: 5px 0px 20px 7px rgba(4,0,56,0.4);
  margin: 6px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  min-height: 248px;
  background-image: url("images/13.png");
  height: auto;
  background-position: 50% 50%;
  box-shadow: 5px 0px 20px 7px rgba(4,0,56,0.4);
  margin: 6px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: 3px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 57px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 197px;
    width: 338px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 197px;
    width: 338px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 197px;
    width: 338px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 197px;
    width: 338px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.785714rem;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 832px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 191px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 191px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 191px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 191px;
    margin-bottom: -9px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 509px;
}

.u-section-3 .u-shape-1 {
  width: 25px;
  height: 87px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 69px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  text-transform: none;
  margin: -41px auto 0;
}

.u-section-3 .u-shape-2 {
  width: 122px;
  height: 41px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -34px auto 0 0;
}

.u-section-3 .u-table-1 {
  width: 786px;
  margin: 29px auto 0;
}

.u-block-f3e7-18 {
  border-style: dashed;
}

.u-block-f3e7-20 {
  border-style: dashed;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  border-style: dashed;
  font-size: 0.857143rem;
}

.u-section-3 .u-icon-1 {
  margin-top: 4px;
}

.u-section-3 .u-table-cell-2 {
  border-style: dashed;
  font-size: 0.857143rem;
}

.u-section-3 .u-table-cell-3 {
  border-style: dashed;
  font-size: 0.857143rem;
}

.u-section-3 .u-table-body-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-5 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-6 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-7 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-8 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-9 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-10 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-11 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-12 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-13 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-14 {
  border-style: dashed;
}

.u-section-3 .u-table-cell-15 {
  border-style: dashed;
}

.u-block-f3e7-46 {
  height: 66px;
}

.u-section-3 .u-shape-3 {
  width: 93px;
  height: 85px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 13px 76px 34px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -64px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 34px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -84px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 45px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 34px;
    margin-right: 22px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -64px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 416px;
  }

  .u-section-3 .u-text-1 {
    text-transform: uppercase;
    font-weight: bold;
    width: 253px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 318px;
  }

  .u-section-3 .u-table-1 {
    margin-top: 28px;
    margin-bottom: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-table-header-1 {
    font-weight: 600;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 639px;
}

.u-section-4 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-4 .u-blog-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 290px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 368px;
  height: 207px;
  margin: 5px -3px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.14286rem;
  margin: 8px 44px 0 3px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 0.785714rem;
  margin: 5px auto 0 3px;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 368px;
  height: 207px;
  margin: 5px -3px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.14286rem;
  margin: 8px 44px 0 3px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 0.785714rem;
  margin: 5px auto 0 3px;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 368px;
  height: 207px;
  margin: 5px -3px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.14286rem;
  margin: 8px 44px 0 3px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-size: 0.785714rem;
  margin: 5px auto 0 3px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 273px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    border-style: solid;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-4 .u-blog-1 {
    margin-bottom: 9px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-4 .u-blog-1 {
    margin-top: 24px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 890px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 332px;
}

.u-section-5 .u-text-1 {
  font-size: 2.28571rem;
  width: 794px;
  font-weight: bold;
  margin: 33px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 40px;
  margin-bottom: 31px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 149px;
}

.u-section-5 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 18px 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: 600;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 108px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 106px;
}

.u-section-6 .u-container-layout-1 {
  padding: 11px 30px 23px;
}

.u-section-6 .u-social-icons-1 {
  height: 43px;
  min-height: 16px;
  width: 199px;
  min-width: 118px;
  margin: 21px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 58px;
}

.u-section-6 .u-icon-2 {
  height: 58px;
}

.u-section-6 .u-icon-3 {
  height: 58px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 243px;
    margin-top: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 58px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 18px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 206px;
    height: 45px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 252px;
    margin: 11px auto 6px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 65px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 16px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 179px;
    height: 36px;
    margin-top: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 320px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 33px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 88px;
  height: 26px;
  margin: -15px 192px 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 100px;
  height: 85px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -5px auto 0 184px;
}

.u-section-7 .u-gallery-1 {
  height: 160px;
  width: 503px;
  margin: -58px auto 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -64px 177px 60px auto;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }

  .u-section-7 .u-carousel-control-1 {
    left: -52px;
  }

  .u-section-7 .u-carousel-control-2 {
    right: -40px;
  }

  .u-section-7 .u-icon-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 111px;
  }
}header {
  -webkit-backdrop-filter: blur(60px); /* Safari */
  backdrop-filter: blur(60px);
  background-color: rgba(0, 0, 0, 0.7); /* Fallback for non-supporting browsers */
}
.menu-panel {
  /* your menu panel styles here */
}