 .u-section-1 {
  background-image: url("images/adminqna1.svg");
  background-position: 50% 26.55%;
}

.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 34.89% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 8583px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/lwcqna.svg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 196px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 7018px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
} .u-section-5 {
  background-image: url("images/flowqna.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 60px;
}