 .u-section-1 {
  background-image: linear-gradient(to right, #f1b5b8, #a5d6e4);
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-blog-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 571px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-1 .u-image-1 {
  height: 401px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-metadata-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 181px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }
}