.u-section-1 .u-sheet-1 {
  min-height: 400px;
}@media screen and (min-width: 900px) {
  .headerbg {
    backdrop-filter: blur(40px); /* Reset backdrop filter */
    background-color: rgb(0,0,0); /* Set background color without backdrop filter */
  } 