 .u-section-1 {
  background-image: linear-gradient(white, #f4f2ff);
}

.u-section-1 .u-sheet-1 {
  min-height: 510px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0 0 0 42px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 548px;
  height: 308px;
  margin: 24px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 21px;
}

.u-section-1 .u-repeater-1 {
  min-height: 61px;
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-6 {
  padding: 6px 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-8 {
  padding: 6px 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-container-layout-9 {
  padding: 6px 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -88px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 202px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.999998px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 19px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #f4f2ff, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 4489px;
}

.u-section-2 .u-accordion-1 {
  margin: 1px 0 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-1 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-4 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-5 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-6 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-7 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-8 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-9 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-10 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-11 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-12 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-13 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-13 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-14 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-14 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-14 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-15 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-15 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-15 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-16 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-16 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-16 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-17 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-17 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-17 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-18 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-18 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-18 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-18 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-19 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-19 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-19 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-19 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-20 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-20 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-20 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-20 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-21 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-21 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-21 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-21 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-22 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-22 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-22 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-22 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-23 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-23 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-23 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-23 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-24 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-24 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-24 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-24 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-25 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-25 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-25 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-25 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-26 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-26 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-26 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-26 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-27 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-27 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-27 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-27 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-28 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-28 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-28 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-28 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-29 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-29 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-29 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-29 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-30 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-30 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-30 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-30 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-31 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-31 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-31 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-31 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-32 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-32 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-32 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-32 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-33 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-33 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-33 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-33 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-34 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-34 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-34 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-34 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-35 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-35 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-35 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-35 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-36 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-36 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-36 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-36 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-37 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-37 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-37 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-37 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-38 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-38 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-38 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-38 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-39 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-39 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-39 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-39 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-40 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-40 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-40 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-40 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-41 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-41 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-41 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-41 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-42 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-42 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-42 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-42 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-43 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-43 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-43 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-43 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-44 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-44 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-44 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-44 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-45 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-45 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-45 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-45 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-46 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-46 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-46 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-46 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-47 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-47 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-47 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-47 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-48 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-48 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-48 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-48 {
  padding: 15px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-36 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-37 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-39 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-40 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-41 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-42 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-43 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-44 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-45 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-46 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-47 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-48 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6408px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
  }
}