 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0 0 0 42px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 548px;
  height: 308px;
  margin: 24px auto 0;
}

.u-section-1 .u-list-1 {
  width: 460px;
  margin: 31px auto 31px 49px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 56px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #210a72, black);
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1429em;
  vertical-align: 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #210a72, black);
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1429em;
  vertical-align: 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #210a72, black);
  margin: 0 auto;
  padding: 11px 39px 11px 38px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1429em;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 103px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-1 .u-list-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 202px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 182px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 19px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 5px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 112px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    padding-top: 8px;
    padding-right: 38px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    padding-top: 8px;
    padding-right: 38px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: auto;
    padding-top: 8px;
    padding-right: 38px;
    padding-bottom: 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2473px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 35px 0 0;
}

.u-section-2 .u-accordion-1 {
  margin: 36px 0 0;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-1 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-4 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-5 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-6 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-7 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-8 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-9 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-10 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-11 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-12 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-13 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-13 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-14 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-14 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-14 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-15 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-15 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-15 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-16 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-16 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-16 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-17 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-17 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-17 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-18 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-18 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-18 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-18 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-19 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-19 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-19 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-19 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-20 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-20 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-20 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-20 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-21 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-21 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-21 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-21 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-22 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-22 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-22 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-22 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-23 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-23 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-23 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-23 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-accordion-link-24 {
  background-image: none;
  font-size: 1.28571rem;
  font-weight: 700;
  padding: 25px 64px;
}

.u-section-2 .u-icon-24 {
  height: 17px;
  width: 17px;
  background-image: none;
  padding: 2px;
}

.u-section-2 .u-accordion-pane-24 {
  min-height: 150px;
  background-image: none;
}

.u-section-2 .u-container-layout-24 {
  padding: 15px 20px 20px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 35px;
  height: auto;
  min-height: 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.85714rem;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 8904px;
}

.u-section-3 .u-text-1 {
  font-size: 2.28571rem;
  margin: 60px 56px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 14232px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.85714rem;
    width: auto;
    margin-top: 45px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 7312px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0 0;
}